*{
  padding: 0;
  margin: 0;
}
ul {
  padding: 20px;
  background-color: rgb(61, 61, 61);
}
ul a {
  display: inline-block;
  font-family: Helvetica;
  text-decoration: none;
  padding: 20px;
  color: rgb(226, 226, 226);
}
ul a:hover{
  background-color: rgb(55, 55, 55);
}

ul li{
  display: inline-block;
  list-style-type:none;
  color: tomato;
}

ul li:not(:first-child) {
  text-align: center;
  display: none;
}
.active{
  color: tomato;
}

.ham-menu:hover{
  color: white;
}
.toggle-menu {
  float: right;
}

/* end of nav for phone */
.section-a {
  background-color: tomato;
  width: auto;
  height: 300px;
}

.section-a p {
  padding: 20px;
  font-family: Helvetica;
  font-size: 20px;
  color: white;
  text-align: center;
}

.section-b {
  width: auto;
  height: 300px;
}

.section-b .mid-left {
  float: left;
  background-color: rgb(218, 218, 218);
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.section-b .mid-right {
  float: left;
  background-color: rgb(232, 230, 230);
  width: 100%;
  height: 200px;
  overflow: hidden;
}






/* end of nav for phone */
@media (min-width: 700px) {
  .toggle-menu {
    display: none;
  }

  ul li:not(:first-child) {
    display: inline-block;
    text-align: center;
  }
  .section-b .mid-left{
    width: 50%;
    height: 500px;
  }
  .section-b .mid-right{
    width: 50%;
    height: 500px;
  }

}
