* {
  padding: 0px;
  margin: 0px;
}

body{
  font-family: Helvetica;

}

a{
  text-decoration: none;
  color: rgb(10, 10, 10);
}

ul li {
  list-style: none;
}


/* global style */


/* nav bar */
.top-bar{
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
  background-color: rgb(224, 223, 223);
  color: rgb(20, 20, 20);
  width: 100%;
  height: 20px;
}
.navbar{
  margin-top: 20px;
  margin-left: 10px;
}
.navbar li #ham-toggle img{
  height: 20px;
  width: 30px;
}

.navbar li:not(:first-child){
  padding: 10px;
  background-color: rgb(241, 241, 241);
  display: none;
}

#nav-left{
  display: block;
}
#nav-logo{
  position: relative;
  left: 30%;
  top: -10px;
  float: left;
  margin-top: -20px;
  background-repeat: no-repeat;
  width: 196px;
  height: 28px;
}

#nav-right li{
  float: left;
}


#account{
  display: none;
}

#search, #cart{
  position: relative;
  left: 150px;
  top: -15px;
  margin-top: -20px;
  padding: 5px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
/* navbar */


/* section-a styling */
.section-a img{
  position: relative;
  z-index: -20;
  top: 40px;
  width: 99%;
}

.product-details{
  margin-top: 50px;
  padding-left: 20px;
  display: block;
}
.product-details p{
  font-size: 20px;
}
.product-details p:not(:first-child){
  font-size: 15px;
}

#white-dot{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid grey;
  background: white;
  position: relative;
  left: 20px;
}

#black-dot{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: black;
  position: relative;
  left: 50px;
}

.product-details p{
  padding: 5px;
}
/* size styling */

.size-details li p {
  margin-top: -3px;
  font-size: 25px;
}

.size-details li{
  text-align: center;
  margin-left: 4px;
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.size-active {
    border: 1px solid grey;
    border-radius: 100%;
}

.section-a a{
  font-size: 13px;
  text-decoration: underline;
}

.add-bag {
  width: 390px;
  height: 50px;
  outline: none;
  border: none;
  margin-left: -15px;
  background-color: rgb(20, 20, 20);
  color: white;
}
.add-bag:hover{
  background-color: rgb(45, 45, 45);
}
/* size styling ends */


/* SHIPPING details */

.product-guide h5{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
}
.product-guide ul{
  padding-top: 10px;
  padding-left: 16px;
}
.product-guide li {
  list-style: disc;
  padding: 4px;
}
/* shipping details */


/* section-b hidden in mobile view */
.section-b {
  display: none;
}

/* section-c ------ you might like ----- */
.section-c hr {
  color: rgb(113, 111, 111);
  margin-left: 3%;
  margin-top: 6%;
  width: 90%;
}

.suggestion-line h4::after{
  content: " ";
  width: 20%;
  margin-left: 5%;
  display: inline-block;
  position: absolute;
  margin-top: 6px;
  border-bottom: 1px solid rgb(113, 111, 111);
}

.suggestion-line h4{
  color: rgb(113, 111, 111);
  padding-top: 35px;
  text-align: center;
  font-weight: lighter;
  margin-top: -10px;
}

.suggestion-line h4::before{
  content: " ";
  width: 20%;
  display: block;
  margin-left: 5%;
  margin-top: 6px;
  position: absolute;
  border-bottom: 1px solid rgb(113, 111, 111);
}
.suggestion-line span {
  float: left;
}

.suggested-images img{
  display: inline-block;
  margin-top: 5%;
  margin-left: 2%;
  height: auto;
  width: 46%;
}


/* section-d  social meadia photos */

.section-d hr{
  color: rgb(113, 111, 111);
  margin-left: 3%;
  margin-top: 6%;
  width: 90%;
}
.social-line h4{
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  color: rgb(113, 111, 111);
  padding: 5%;
}
.social-line h3{
  text-align: center;
  font-weight: lighter;
  color: rgb(113, 111, 111);
  margin-top: -10px;
  font-size: 18px;
  padding-bottom: 5%;
}

.social-images img{
  margin-left: 10px;
  width: 20%;
  height: 100px;

}

/* stay connected */
.social-links ul {
  text-align: center;
  padding: 10px;
}
.social-links li:first-child{
  font-size: 18px;
  font-weight: lighter;
  position: relative;
  top: -15px;
}
.social-links li {
  list-style: none;
  display: inline-block;
}

.social-links img {
  padding-top: 10px;
  padding-left: 5px;

}

/* stay connected */


/* newsletter */

.newsletter {
  padding: 20px;
}

.newsletter p {
  text-align: center;
  font-weight: lighter;
  font-size: 23px;
  padding: 2%;
}

.newsletter input{
  text-align: center;
  display: block;
  height: 40px;
}

.newsletter input[type=text]{
  width: 100%;
  border: 1px solid rgb(111,111,111);
}
.newsletter input[type=submit]{
  margin-top: 3%;
  width: 100%;
  background: black;
  color: white;
  border: none;
  outline: none;
}
.newsletter input[type=submit]:hover{
    background: rgb(26, 26, 26);
}


/* section-e footer */

.section-e hr {
  color: rgb(113, 111, 111);
  margin-left: 3%;
  margin-top: -1%;
  width: 90%;
}

.section-e h4 {
  padding-top: 5%;
  text-align: center;
  font-size: 12px;
}

.section-e li {
  padding-top: 2%;
  text-align: center;
  list-style: none;
  font-size: 11px;
}
.store h4{
  padding-bottom: 5%;
}
.to-talk p{
  font-size: 12px;
  font-weight:bold;
  text-align: center;
}


/* footer  */
footer{
  padding-bottom: 3%;
}
footer hr {
  color: rgb(113, 111, 111);
  margin-left: 3%;
  margin-top: 5%;
  width: 90%;
}
#foot-logo {
  padding: 3%;
  position: relative;
  left: 30%;
  width: 120px;
  height: 15px;
}
footer p {
  text-align: center;
  font-size: 12px;
}




/* media query for desktop size screens */


@media (min-width:800px) {



}
